body {
  background-color: #f3f3f3;
}

.count {
  position: absolute;
  right: 0;
  bottom: 5px;
  display: none;
}

.cartProduct {
  width: 240px;
  position: absolute;
  top: 54px;
  left: -80px;
  background-color: #e2e2e2;
  display: none;
  z-index: 10;
}

.cartProduct a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #004B91;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

.cartProduct a:hover {
  background-color: #003A66;
}

.cartProduct p {
  margin-top: 10px;
  margin-left: 10px;
  margin: 0 10px;
  padding: 5px 10px;
  border-bottom: 1px solid gray;
}

.cartProduct::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 88px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #e2e2e2 transparent;
}

@media (max-width: 992px) {
  .count {
      left: 30px;
  }

  .cartProduct {
      top: 50px;
      left: -3px;
  }

  .cartProduct::after {
      left: 0;
  }
}

.product-info {
  display: flex;

}

.product-img,
.product-description {
  flex: 1;
}

.product-img img {
  width: 340px;
}

.product-description {
  margin-top: 40px;
}

.description-bottom i {
  color: rgb(81, 81, 250);
}



.description-top h1,
.p1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.description-top .p1 {
  color: rgb(81, 81, 250);
  font-weight: bold;
  margin-top: 30px;
}

.description-bottom .p2,
.p3,
.p4,
.p4,
.p5,
.p6 {

  color: black;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;

  margin-top: 10px;

}

.description-bottom {
  margin-top: 35px;
}

.description-bottom span {
  margin-left: 8px;
}

.product-description button {
  font-size: 17px;
  width: 340px;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(81, 81, 250);
  border: none;
  margin-top: 30px;
  color: white;
  font-weight: bold;
}

.product-description button i {
  margin-right: 11px;
}

.decore {
  width: 340px;
  height: 1px;
  background-color: rgb(81, 81, 250);
  margin-top: 10px;
}